marquee {
    border: 3px solid black;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Background for body */
body {
    background: linear-gradient(100deg, #f48989, #cdbd6b);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Table Styles */
table {
    border-radius: 10px;
    border: 7px solid black;
    margin: 20px auto;
    width: 45%;
    border-collapse:collapse;    
}

table:hover {
    background-color: #eb9f9f;
    color: rgb(19, 19, 19);
    transition: 0.3s ease;
    border-radius: 10px;
}

/* Buttons */
.button {
    background-color: red;
    border: 3px solid black;
    color: antiquewhite;
    font-size: 18px;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}
.button:hover {
    background-color: darkred;
}

/* Labels and spans */
label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

/* ------------------------------ */
/* Responsive Styles */
/* ------------------------------ */

/* For Tablets and Small Laptops */
@media (max-width: 768px) {
    marquee {
        font-size: 30px;
    }

    table {
        width: 90%;
        font-size: 16px;
    }

    .button {
        font-size: 18px;
        padding: 6px 15px;
    }

    span {
        font-size: 18px;
    }
}

/*For Small Mobile Screens */
@media (max-width: 480px) {
    marquee {
        font-size: 24px;
    }

    table {
        width: 100%;
        font-size: 14px;
    }

    .button {
        font-size: 16px;
        padding: 5px 10px;
    }

    span {
        font-size: 16px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }
}
